<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-');
  </script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Boxcar">
  <%= csrf_meta_tags %>

  <title>Boxcar</title>

  <%= javascript_pack_tag "app", "data-turbolinks-track": "reload" %>
  <%= stylesheet_pack_tag "app", "data-turbolinks-track": "reload" %>
</head>

<body>
  <div id="app">
    <%= yield %>
  </div>
</body>
</html>
